@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f2f2f2;
  color: #191919;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

p {
  text-align: justify;
  margin-bottom: 1.2rem;
}

#wrapper {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 900px;
  padding: 1.6rem;
  position: relative;
  width: 90%;
}

#change-settings,
#change-settings ul {
  display: flex;
}

#change-settings {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#change-settings ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#setPosition {
  margin-bottom: 4rem;
}

#about-me {
  transition: all 0.3s ease-in-out;
}

#about-me-personal,
#skills,
#work-experience {
  position: relative;
  margin: 2rem 0rem;
}

#about-me-personal {
  position: relative;
  margin: 5rem 0rem 3rem;
}

#about-me-personal .avatar {
  position: absolute;
  right: 0;
  top: -2rem;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

#skills h2 {
  margin: 1rem 0rem;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#skills li {
  align-items: center;
  font-size: 0.8rem;
  /*cursor: pointer;*/
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  padding: 0.5rem 2.5rem;
  margin: 0.3rem 0.4rem;
  text-align: center;
  transition: all 0.3s ease;
}

#skills li img {
  margin-right: 1rem;
}

#skills li:hover {
  background: #f2f2f2;
  color: #191919;
  font-weight: 600;
}
.dark-mode #skills li:hover {
  background: white !important;
  color: #34495e !important;
  font-weight: 600;
}

#skills li:last-child {
  margin-right: 0rem;
}

#language {
  font-size: 0.9rem;
  border: 1px solid #aeaeae;
  border-radius: 7px;
  padding: 0.5rem 1.5rem;
}

.file-down-black,
.file-down-white {
  height: 20px;
  margin-right: 0rem;
  width: 20px;
}

.file-down-black {
  display: block;
}
.file-down-white {
  display: none;
}

.dark-mode {
  background: #071407;
  color: white;
}

.wrapper-dark {
  background: rgb(35, 43, 51) !important;
  color: white !important;
}

.icon-logo {
  height: 25px;
  width: 25px;
}

#theme img {
  cursor: pointer;
  height: 18px;
  margin-right: 1rem;
  width: 18px;
}

#theme .active {
  display: none;
}

#boxExp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#boxExp h4 {
  text-transform: uppercase;
}

#boxInfo {
  padding: 1rem;
  width: 50%;
}

#titleExp {
  margin: 2rem 0rem;
}

#btnDownload {
  align-items: center;
  cursor: pointer;
  border: 1px solid #686868;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
}

#textDownload {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.divideHr {
  border: 1px solid #f4f4f4;
  margin: 0.5rem 0rem 1.2rem;
}

.positionJob {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

#listTools {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}

.tools-items {
  color: #686868;
}

.dark-mode .tools-items {
  color: yellowgreen;
}

.tools-items:after {
  content: ",  ";
  margin-right: 0.5rem;
}

.tools-items:last-child:after {
  content: ".";
}

.pre-text-tec {
  font-weight: 600;
  margin-bottom: 0rem;
  margin-right: 0.5rem;
}

.file-down-white {
  display: none;
}

/*div {
  page-break-inside: avoid;
  page-break-after: auto;
}*/

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
  page-break-before: always;
  margin: 1rem 0rem;
}
.container-doc {
  margin: 1rem;
}

.dark-mode .linkedin-link {
  color: white;
}

.linkedin-link {
  color: #191919;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 7px;
  position: absolute;
  top: 80px;
}

.linkedin-link img {
  width: 25px;
  height: 25px;
}

.linkedin-link span {
  top: 5px;
  position: absolute;
  left: 30px;
}

@media screen and (max-width: 768px) {
  #about-me-personal .avatar {
    position: relative;
    margin: 3rem auto auto;
    display: block;
  }
  #skills li {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
  #boxInfo {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .positionJob {
    text-align: left;
  }
}
